.myOrders {
	min-height: 90vh;
	padding: 40px;
	background-color: whitesmoke;
}
.MuiDataGrid-root {
	background-color: white;
	border: none !important;
	border-radius: 10px !important;
}
.MuiDataGrid-main {
	border-radius: 10px;
}
.myOrders .MuiDataGrid-columnHeaders {
	background-color: #27debf;
	color: aliceblue;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.MuiDataGrid-iconSeparator {
	display: none !important;
}
.MuiDataGrid-columnHeaderTitle {
	font-size: 17px;
}

.icon-link {
	color: #27debf;
	transition: all 0.4s;
}
.icon-link:hover {
	color: #19927e;
	transform: translateY(-2px);
}
.userOrders {
	text-align: center;
	color: aliceblue;
	background-color: #18b89d;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 10px 0px;
	text-transform: uppercase;
}
