/*Product*/
.left-container {
	width: 20vw;
	position: relative;
	padding-top: 5vmax;
}
.left {
	font-family: "Roboto", sans-serif;
	padding: 0 1.5rem;
}
.filter-toggle {
	visibility: hidden;
}

/*Product Card*/
.card {
	width: 100%;
	text-decoration: none;
	color: #000;
	transition: all 0.4s;
	margin: 10px 0;
}
.card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	color: black;
	transform: translateY(-10px);
}
.card-img-top {
	object-fit: contain;
	max-height: 100%;
}

.price {
	font-size: 1.7rem;
}
.hide {
	visibility: hidden;
	display: none;
	height: 0px;
}
.rating-component {
	transform: scale(1.1);
}

@media (min-width: 926px) {
	#toggle {
		visibility: visible;
		display: block;
	}
}

@media (max-width: 926px) {
	.main-container {
		flex-direction: column;
	}
	.left-container {
		width: 100%;
		padding: 0.5vmax 0vmax;
		background: linear-gradient(to bottom, #fefeff, #eee);
	}
	.filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.3vmax;
	}
	.rating-component {
		transform: scale(1.3);
	}
	.filter-toggle {
		visibility: visible;
		border: none;
		outline: none;
	}
}

@media (max-width: 767px) {
	.rating-component {
		transform: scale(1.5);
	}
}

@media (max-width: 567px) {
	.card {
		text-align: center;
	}
	.card-title {
		padding: 1vmax 0;
		font-size: 2.3rem;
	}
	.card-text {
		padding: 1vmax 0;
		font-size: 1.5rem;
	}
	.price {
		padding: 1vmax 0;
		font-size: 3rem !important;
	}
	.rating-component {
		transform: scale(1.7);
		margin: 10px 0px;
	}
}
